html,
body {
  width: 100%;
  overflow: hidden;
}
#box {
  background: red;
  width: 500px;
  margin: 0 auto;
}
#box #smallbox {
  background: orange;
  width: 300px;
  margin: 0 auto;
}
#box #smallbox #smallsmallbox {
  background: orchid;
  width: 100px;
}
#box .inner {
  width: 100px;
  height: 100PX;
  background: palevioletred;
}
#box .inner #gobox {
  width: 100px;
  height: 100px;
  background: palevioletred;
}
#box .inner #goboxï¼šhover {
  background: pink;
}
